<div style="margin: 100px;">
  <h1>New Game</h1>
  <%= form_tag("new_game", method: :post) do %>
    <div class="form">
      <%= label_tag :player1, "Player1 Type:" %>
      <ul>
        <% @player_options.each do |option| %>
          <li> <%= check_box_tag :player1, "#{option}" %>
          <%= label_tag "", "#{option.to_s.gsub(/TTT::/, '').gsub(/ai/i, 'AI ')}" %></li>
        <% end %>
      </ul>
    </div>

    <div class="form">
      <%= label_tag :player2, "Player2 Type:" %>
      <ul>
        <% @player_options.each do |option| %>
          <li> <%= check_box_tag :player2, "#{option}" %>
          <%= label_tag "", "#{option.to_s.gsub(/TTT::/, '').gsub(/ai/i, 'AI ')}" %></li>
        <% end %>
      </ul>
    </div>

    <div class="form">
      <%= label_tag :board, "Board Type:" %>
      <ul>
        <% @board_options.each do |board| %>
          <li><%= check_box_tag :board, "#{board}" %>
          <%= label_tag "#{board.to_s.gsub(/TTT::/, '').gsub(/threebythree/i, '3x3').gsub(/fourbyfour/i, '4x4').gsub(/bythree/i, 'x3')}" %></li>
        <% end %>
      </ul>
    </div>
    <div class="button">
      <%= submit_tag "Submit", class: "button" %>
    </div>
  <% end %>
</div>
