<%= link_to "New Game", new_web_game_path %>
<div style="width: 1020px; margin: 100px auto 100px auto;">
  <% if flash[:notice] %>
    <h4 class="notice"><%= flash[:notice] %></h4>
  <% end %>
  <%= @web_game_presenter.show_board.html_safe %>
</div>
<%= form_tag(mark_move_web_game_path, method: "PUT") do %>
  <div style="margin: auto; width: 152px;">
  <%= label_tag :input_move, "Input Move:", class: "move_label" %>
  <%= text_field_tag :move, "", class: "move_input" %><br />
  <div class="move_button">
    <%= submit_tag "Move", class: "button" %>
  </div>
</div>
<% end %>
